<div class="row">
    <div class="col-md-6" *ngFor="let project of projects">
      <div class="card">
        <h5 class="card-title text-center">{{ project.name }}</h5>
        <div class="row no-gutters">
          <div class="col-6">
            <img [src]="project.before" class="img-fluid before-img" alt="Before {{ project.name }}" 
                 (click)="openModal(project.before)">
            <p class="text-center">Before</p>
          </div>
          <div class="col-6">
            <img [src]="project.after" class="img-fluid after-img" alt="After {{ project.name }}" 
                 (click)="openModal(project.after)">
            <p class="text-center">After</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal -->
  <div *ngIf="modalImage" class="modal-overlay" (click)="closeModal()">
    <img [src]="modalImage" class="modal-content">
  </div>
  