<nav class="navbar">
  <h1>Shivam Terrace Solutions</h1>
  <div class="nav-links" [ngClass]="{ 'active': isMobileMenuOpen }">
    <button routerLink="/home">Home</button>
    <button routerLink="/services">Services</button>
    <button routerLink="/pricing">Pricing</button>
    <button routerLink="/testimonials">Testimonials</button>
    <button routerLink="/gallery">Gallery</button>
    <button routerLink="/contact">Contact</button>
  </div>
  <button class="hamburger" (click)="toggleMobileMenu()">&#9776;</button>
</nav>

<div class="container mt-4">
  <router-outlet></router-outlet>
</div>
